Repository stargate/stargate, pull requests merged in 2021-09, with the labels that each got.

#1194 Infer and propagate information about indepotency of gRPC queries
  cql/src/main/java/org/apache/cassandra/stargate/transport/internal/messages/ResultMessage.java
  grpc/src/main/java/io/stargate/grpc/service/BatchHandler.java
  grpc/src/main/java/io/stargate/grpc/service/MessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/QueryHandler.java
  grpc/src/test/java/io/stargate/grpc/Utils.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteBatchTest.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteQueryTest.java
  persistence-api/src/main/java/io/stargate/db/Result.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/Conversion.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/StargateQueryHandler.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/idempotency/IdempotencyAnalyzer.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/idempotency/PreparedWithIdempotent.java
  persistence-cassandra-3.11/src/test/java/io/stargate/db/cassandra/impl/idempotency/IdempotencyAnalyzerTest.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/Conversion.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/StargateQueryHandler.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/idempotency/IdempotencyAnalyzer.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/idempotency/PreparedWithIdempotent.java
  persistence-cassandra-4.0/src/test/java/io/stargate/db/cassandra/impl/idempotency/IdempotencyAnalyzerTest.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/Conversion.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/StargateQueryHandler.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/idempotency/IdempotencyAnalyzer.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/idempotency/PreparedWithIdempotent.java
  persistence-dse-6.8/src/test/java/io/stargate/db/dse/impl/idempotency/IdempotencyAnalyzerTest.java
Labels: grpc

#1202 GraphQL: Add developer docs
  graphqlapi/README.md
Labels: GraphQL

#1212 fixed Cassandra predicate when searching docs with a boolean value
  restapi/src/main/java/io/stargate/web/docsapi/service/query/condition/impl/BooleanCondition.java
  restapi/src/test/java/io/stargate/web/docsapi/service/query/condition/impl/BooleanConditionTest.java
  testing/src/main/java/io/stargate/it/http/docsapi/BaseDocumentApiV2Test.java
Labels: bug, documents API

#1190 Retries for gRPC
  grpc/src/main/java/io/stargate/grpc/retries/DefaultRetryPolicy.java
  grpc/src/main/java/io/stargate/grpc/retries/RetryDecision.java
  grpc/src/main/java/io/stargate/grpc/retries/RetryPolicy.java
  grpc/src/main/java/io/stargate/grpc/service/BatchHandler.java
  grpc/src/main/java/io/stargate/grpc/service/MessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/QueryHandler.java
  grpc/src/test/java/io/stargate/grpc/retries/DefaultRetryPolicyTest.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteQueryTest.java
  grpc/src/test/java/io/stargate/grpc/service/RetryTest.java
  persistence-api/src/main/java/org/apache/cassandra/stargate/exceptions/ReadTimeoutException.java
  persistence-api/src/main/java/org/apache/cassandra/stargate/exceptions/WriteTimeoutException.java
Labels: grpc

#976 Add metrics support for gRPC
  grpc-proto/pom.xml
  grpc/pom.xml
  grpc/src/main/java/io/stargate/grpc/impl/GrpcImpl.java
  pom.xml
  testing/pom.xml
  testing/src/main/java/io/stargate/it/grpc/ServerMetricsTest.java
Labels: grpc

#1217 document gRPC deadlines
  grpc/README.md
Labels: grpc

#1216 rename Service to GrpcService
  grpc/src/main/java/io/stargate/grpc/impl/GrpcImpl.java
  grpc/src/main/java/io/stargate/grpc/service/BatchHandler.java
  grpc/src/main/java/io/stargate/grpc/service/GrpcService.java
  grpc/src/main/java/io/stargate/grpc/service/MessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/QueryHandler.java
  grpc/src/main/java/io/stargate/grpc/service/interceptors/AuthenticationInterceptor.java
  grpc/src/main/java/io/stargate/grpc/service/interceptors/HeadersInterceptor.java
  grpc/src/main/java/io/stargate/grpc/service/interceptors/RemoteAddressInterceptor.java
  grpc/src/test/java/io/stargate/grpc/service/BaseGrpcServiceTest.java
  grpc/src/test/java/io/stargate/grpc/service/BatchParametersTest.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteBatchTest.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteQueryTest.java
  grpc/src/test/java/io/stargate/grpc/service/HeadersTest.java
  grpc/src/test/java/io/stargate/grpc/service/MockInterceptor.java
  grpc/src/test/java/io/stargate/grpc/service/PersistenceExceptionTest.java
  grpc/src/test/java/io/stargate/grpc/service/QueryParametersTest.java
  grpc/src/test/java/io/stargate/grpc/service/RetryTest.java
  grpc/src/test/java/io/stargate/grpc/service/interceptors/AuthenticationInterceptorTest.java
Labels: grpc

#1172 gRPC: wait for schema agreement asynchronously (fixes #1145)
  grpc/src/main/java/io/stargate/grpc/impl/GrpcImpl.java
  grpc/src/main/java/io/stargate/grpc/service/BatchHandler.java
  grpc/src/main/java/io/stargate/grpc/service/GrpcService.java
  grpc/src/main/java/io/stargate/grpc/service/MessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/QueryHandler.java
  grpc/src/test/java/io/stargate/grpc/service/BaseGrpcServiceTest.java
  grpc/src/test/java/io/stargate/grpc/service/SchemaAgreementTest.java
Labels: grpc

#1236 Reference example for gRPC java client
  grpc-examples/README.md
  grpc-examples/pom.xml
  grpc-examples/src/main/java/io/stargate/grpcexample/GrpcClientExecuteQuery.java
  grpc/README.md
  pom.xml
Labels: grpc

#1250 CQL: Expose backpressure options and set sensible defaults
  cql/src/main/java/io/stargate/cql/CqlActivator.java
Labels: cql

#1285 Fix #1284: rename v1 endpoint classes, Server->RestApiServer
  restapi/README-docsapi.md
  restapi/src/main/java/io/stargate/web/RestApiActivator.java
  restapi/src/main/java/io/stargate/web/impl/RestApiRunner.java
  restapi/src/main/java/io/stargate/web/impl/RestApiServer.java
  restapi/src/main/java/io/stargate/web/resources/AuthenticatedDB.java
  restapi/src/main/java/io/stargate/web/resources/v1/ColumnResource.java
  restapi/src/main/java/io/stargate/web/resources/v1/KeyspaceResource.java
  restapi/src/main/java/io/stargate/web/resources/v1/RowResource.java
  restapi/src/main/java/io/stargate/web/resources/v1/TableResource.java
  restapi/src/main/java/io/stargate/web/swagger/SwaggerUIResource.java
  restapi/src/test/java/io/stargate/web/resources/ColumnResourceTest.java
  restapi/src/test/java/io/stargate/web/resources/ConvertersTest.java
Labels: REST

#1257 GraphQL CQL-first: add groupBy (fixes #1170)
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/DmlSchemaBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/QueryFetcher.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/SampleKeyspaces.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/QueryFetcherAggregationsTest.java
  persistence-api/src/main/java/io/stargate/db/query/builder/QueryBuilderImpl.java
  persistence-api/src/test/java/io/stargate/db/query/builder/BuiltSelectTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/GroupByTest.java
Labels: GraphQL CQL-first
