Repository stargate/stargate, pull requests merged in 2021-03, with the labels that each got.

#709 allow partial PKs in queries (CKs)
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/fetchers/dynamic/DynamicFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/fetchers/dynamic/FederatedEntityFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/fetchers/dynamic/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/processor/EntityMappingModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/processor/ProcessingMessage.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/processor/QueryMappingModel.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/schemafirst/processor/QueryMappingModelTest.java
  testing/src/test/java/io/stargate/it/http/graphql/graphfirst/SelectTest.java
Labels: GraphQL schema-first

#731 Require authorization to read DML schemas
  graphqlapi/src/main/java/io/stargate/graphql/web/DropwizardServer.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/cqlfirst/GraphqlCache.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/cqlfirst/GraphqlDmlResource.java
Labels: bug, graphql

#738 Clean up GraphQL authentication (fixes #732)
  graphqlapi/src/main/java/io/stargate/graphql/schema/CassandraFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/SchemaFactory.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/DdlSchemaBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/AllKeyspacesFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/AlterTableAddFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/AlterTableDropFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/CreateIndexFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/CreateKeyspaceFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/CreateTableFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/CreateTypeFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DdlQueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DropIndexFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DropKeyspaceFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DropTableFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DropTypeFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/IndexFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/SingleKeyspaceFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/TableFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/DmlSchemaBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DeleteMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DmlFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/InsertMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/MutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/UpdateMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/web/DropwizardServer.java
  graphqlapi/src/main/java/io/stargate/graphql/web/HttpAwareContext.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/Authenticated.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/AuthenticationFilter.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/cqlfirst/GraphqlCache.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/cqlfirst/GraphqlDdlResource.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/cqlfirst/GraphqlDmlResource.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/GraphQlTestBase.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/ddl/DdlTestBase.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/dml/DmlTestBase.java
Labels: graphql

#745 Add more features for delete mutations
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/fetchers/dynamic/DeleteFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/processor/DeleteModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/processor/DeleteModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/processor/InsertModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/processor/MutationModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/processor/QueryModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/processor/UpdateModelBuilder.java
  graphqlapi/src/main/resources/schemafirst/cql_directives.graphql
  testing/src/test/java/io/stargate/it/http/graphql/schemafirst/DeleteTest.java
  testing/src/test/java/io/stargate/it/http/graphql/schemafirst/GraphqlFirstClient.java
Labels: GraphQL schema-first

#761 Use user-scoped datastore to compute GraphQL schemas
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/cqlfirst/GraphqlCache.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/cqlfirst/GraphqlDmlResource.java
Labels: graphql

#788 Add a way to recover a failed deployment
  graphqlapi/src/main/java/io/stargate/graphql/persistence/schemafirst/SchemaSourceDao.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/AdminSchemaBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/schemafirst/fetchers/admin/DeploySchemaFetcherBase.java
  testing/src/test/java/io/stargate/it/http/graphql/schemafirst/GraphqlFirstClient.java
  testing/src/test/java/io/stargate/it/http/graphql/schemafirst/SchemaDeploymentTest.java
Labels: GraphQL schema-first
