Repository stargate/stargate, pull requests merged in 2021-07, with the labels that each got.

#1078 GraphQL CQL-first: Fix handling of conditional batches
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DmlFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/MutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/web/StargateGraphqlContext.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/AtomicBatchTest.java
Labels: GraphQL CQL-first

#1106 GraphQL schema-first: allow schema fetch operation to return null
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/AdminSchemaBuilder.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/GraphqlFirstClient.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/SchemaDeploymentTest.java
Labels: GraphQL schema-first

#1083 Add `@atomic` directive
  graphqlapi/src/main/java/io/stargate/graphql/schema/CassandraFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DmlFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/MutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeleteFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeployedFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/FederatedEntityFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/InsertFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/MutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/MutationPayload.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/MutationResult.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/SchemaProcessor.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/util/CompletableFutures.java
  graphqlapi/src/main/java/io/stargate/graphql/web/StargateGraphqlContext.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkMutationFetcherTest.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/MutationFetcherTest.java
  testing/src/main/graphql/betterbotz/atomic/ProductsAndOrdersMutation.graphql
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/AtomicDirectiveTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/AtomicTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/DeleteCustomConditionsTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/GraphqlFirstClient.java
Labels: GraphQL schema-first

#1118 GraphQL schema-first: allow entity field in delete response payload
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeleteFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/MutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MutationModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModelBuilder.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/DeleteCustomConditionsTest.java
Labels: GraphQL schema-first

#1123 Grpc fix response types for batches to support LWTs
  grpc-proto/proto/query.proto
  grpc/src/main/java/io/stargate/grpc/payload/PayloadHandler.java
  grpc/src/main/java/io/stargate/grpc/payload/cql/ValuesHandler.java
  grpc/src/main/java/io/stargate/grpc/service/Service.java
  testing/src/main/java/io/stargate/it/grpc/LWTBatchTest.java
Labels: grpc

#1132 enable grpc in CI
  ci/test.sh
  grpc/src/main/java/io/stargate/grpc/impl/GrpcImpl.java
  grpc/src/main/java/io/stargate/grpc/service/Service.java
  pom.xml
  testing/src/main/java/io/stargate/it/grpc/ExecuteBatchTest.java
  testing/src/main/java/io/stargate/it/grpc/ExecuteQueryTest.java
  testing/src/main/java/io/stargate/it/grpc/GrpcIntegrationTest.java
  testing/src/main/java/io/stargate/it/storage/StargateContainer.java
Labels: grpc

#1131 gRPC: authorize requests
  grpc/src/main/java/io/stargate/grpc/service/Service.java
Labels: grpc

#1140 Improve gRPC java client
  grpc-proto/src/main/java/io/stargate/grpc/StargateBearerToken.java
  grpc-proto/src/main/java/io/stargate/grpc/Values.java
  grpc/src/test/java/io/stargate/grpc/codec/cql/ValueCodecTest.java
  testing/src/main/java/io/stargate/it/grpc/GrpcIntegrationTest.java
Labels: grpc

#1147 gRPC: document proto files (fixes #990)
  grpc-proto/proto/query.proto
  grpc-proto/proto/stargate.proto
Labels: grpc
