Repository stargate/stargate, pull requests merged in 2021-11, with the labels that each got.

#1380 GraphQL CQL-first: handle null values for complex types (fixes #1347)
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DataTypeMapping.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/CollectionsTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/TuplesTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/UdtsTest.java
Labels: GraphQL CQL-first

#1411 Implement gRPC createTable operation
  grpc-proto/proto/schema.proto
  grpc/src/main/java/io/stargate/grpc/service/BatchHandler.java
  grpc/src/main/java/io/stargate/grpc/service/CreateTableHandler.java
  grpc/src/main/java/io/stargate/grpc/service/DdlMessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/GrpcService.java
  grpc/src/main/java/io/stargate/grpc/service/MessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/PreparedMessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/QueryHandler.java
  grpc/src/main/java/io/stargate/grpc/service/SchemaAgreementHelper.java
  grpc/src/main/java/io/stargate/grpc/service/SchemaHandler.java
  grpc/src/test/java/io/stargate/grpc/service/CreateTableTest.java
  grpc/src/test/java/io/stargate/grpc/service/SchemaOperationsTest.java
Labels: stargate-v2

#1427 Add "delete keyspace" REST impl for SGv2
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResource.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResource.java
Labels: stargate-v2

#1429 Implement "delete rows" for SGv2
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResource.java
Labels: stargate-v2

#1433 Fix #1426: add SGv2/REST "getTable(s)" methods
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/BridgeProtoTypeTranslator.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/BridgeSchemaClient.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/models/Sgv2ColumnDefinition.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/models/Sgv2Table.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResource.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, stargate-v2

#1443 Fix stale schema issue in CreateTable operation
  grpc/src/main/java/io/stargate/grpc/service/CreateTableHandler.java
  grpc/src/main/java/io/stargate/grpc/service/DdlMessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/GrpcService.java
Labels: grpc

#1442 (WIP) Sgv2 #1435: Add createTable()
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/BridgeProtoTypeTranslator.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/BridgeSchemaClient.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/models/Sgv2ColumnDefinition.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/models/Sgv2Table.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/models/Sgv2TableAddRequest.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResource.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, stargate-v2
