Repository stargate/stargate, pull requests merged in 2021-05, with the labels that each got.

#916 gRPC: Add remaining primitive codecs
  grpc-proto/proto/query.proto
  grpc/src/main/java/io/stargate/grpc/codec/cql/BigintCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/BooleanCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/DateCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/DoubleCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/FloatCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/InetCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/IntCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/SmallintCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/StringCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/TimeCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/TinyintCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/UuidCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/ValueCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/ValueCodecs.java
  grpc/src/test/java/io/stargate/grpc/Utils.java
  grpc/src/test/java/io/stargate/grpc/codec/cql/ValueCodecTest.java
  grpc/src/test/java/io/stargate/grpc/payload/ProcessResultTests.java
Labels: grpc

#906 Split GraphQL legacy tests and limit usage of Apollo library
  testing/pom.xml
  testing/src/main/graphql/betterbotz/collections/GetCollectionsNested.graphql
  testing/src/main/graphql/betterbotz/collections/GetCollectionsSimple.graphql
  testing/src/main/graphql/betterbotz/collections/InsertCollectionsNested.graphql
  testing/src/main/graphql/betterbotz/collections/InsertCollectionsSimple.graphql
  testing/src/main/graphql/betterbotz/collections/UpdateCollectionsNested.graphql
  testing/src/main/graphql/betterbotz/collections/UpdateCollectionsSimple.graphql
  testing/src/main/graphql/betterbotz/tuples/GetTuples.graphql
  testing/src/main/graphql/betterbotz/tuples/GetTuplesPk.graphql
  testing/src/main/graphql/betterbotz/tuples/InsertTuples.graphql
  testing/src/main/graphql/betterbotz/tuples/InsertTuplesPk.graphql
  testing/src/main/graphql/betterbotz/tuples/UpdateTuples.graphql
  testing/src/main/graphql/betterbotz/udts/GetUdts.graphql
  testing/src/main/graphql/betterbotz/udts/InsertUdts.graphql
  testing/src/main/graphql/schema/.graphqlconfig
  testing/src/main/graphql/schema/AlterTableAdd.graphql
  testing/src/main/graphql/schema/AlterTableDrop.graphql
  testing/src/main/graphql/schema/CreateKeyspace.graphql
  testing/src/main/graphql/schema/CreateTable.graphql
  testing/src/main/graphql/schema/DropTable.graphql
  testing/src/main/graphql/schema/GetKeyspace.graphql
  testing/src/main/graphql/schema/GetKeyspaces.graphql
  testing/src/main/graphql/schema/GetTable.graphql
  testing/src/main/graphql/schema/GetTables.graphql
  testing/src/main/graphql/schema/schema.json
  testing/src/main/java/io/stargate/it/http/graphql/TupleHelper.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/ApolloTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/ApolloTestBase.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/AtomicDirectiveTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/BetterbotzTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/BulkInsertTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/CollectionsTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/CqlFirstClient.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/GraphqlApolloTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/InsertTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/InvalidQueriesTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/JwtAuthTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/KeyspaceDdlTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/MetricsTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/ScalarsTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/SelectTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/TableDdlTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/TuplesTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/UdtsTest.java
  testing/src/main/resources/betterbotz.cql
Labels: GraphQL CQL-first

#932 gRPC: Add warnings
  grpc/src/main/java/io/stargate/grpc/service/Service.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteBatchTest.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteQueryTest.java
Labels: grpc

#901 Cql first build in aggregations
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/DmlSchemaBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkInsertMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DbColumnGetter.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DmlFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/InsertMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/UpdateMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/aggregations/AggregationsFetcherSupport.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/aggregations/SupportedAggregationFunction.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/aggregations/SupportedGraphqlFunction.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/scalars/IntCoercing.java
  persistence-api/src/main/java/io/stargate/db/query/builder/QueryBuilderImpl.java
  persistence-api/src/test/java/io/stargate/db/query/builder/BuiltQueryTest.java
  persistence-api/src/test/java/io/stargate/db/query/builder/BuiltSelectTest.java
  testing/src/main/graphql/betterbotz/atomic/ProductsAndOrdersMutation.graphql
  testing/src/main/graphql/betterbotz/schema.json
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/AggregationFunctionsTest.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/BetterbotzTest.java
  testing/src/main/resources/betterbotz.cql
  testing/src/main/resources/schema.graphqls
Labels: GraphQL CQL-first

#946 GraphQL schema-first: handle persistence backends that default to SAI indexes
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/DeploySchemaFetcherBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/FieldModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/IndexModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ProcessingContext.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/SchemaProcessor.java
  graphqlapi/src/main/java/io/stargate/graphql/web/DropwizardServer.java
  graphqlapi/src/main/java/io/stargate/graphql/web/HttpAwareContext.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/GraphqlCache.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/GraphqlResourceBase.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryMappingModelTest.java
Labels: GraphQL schema-first

#953 GraphQL schema-first: use user-scoped datastore to fetch schema files
  graphqlapi/src/main/java/io/stargate/graphql/web/DropwizardServer.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/FilesResource.java
  testing/src/main/java/io/stargate/it/http/graphql/GraphqlClient.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/CqlFirstClient.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/FilesResourceTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/GraphqlFirstClient.java
Labels: GraphQL schema-first

#936 gRPC: Collections
  grpc-proto/proto/query.proto
  grpc-proto/src/main/java/io/stargate/grpc/Values.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/BigintCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/BooleanCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/BytesCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/CollectionCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/CompositeCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/DateCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/DoubleCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/FloatCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/InetCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/IntCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/MapCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/SmallintCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/StringCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/TimeCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/TinyintCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/TupleCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/UuidCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/ValueCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/cql/ValueCodecs.java
  grpc/src/main/java/io/stargate/grpc/payload/PayloadHandlers.java
  grpc/src/main/java/io/stargate/grpc/payload/cql/ValuesHandler.java
  grpc/src/main/java/io/stargate/grpc/service/Service.java
  grpc/src/test/java/io/stargate/grpc/Utils.java
  grpc/src/test/java/io/stargate/grpc/codec/cql/ValueCodecTest.java
  grpc/src/test/java/io/stargate/grpc/payload/BindValuesTest.java
  grpc/src/test/java/io/stargate/grpc/payload/ProcessResultTests.java
  grpc/src/test/java/io/stargate/grpc/service/BaseServiceTest.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteBatchTest.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteQueryTest.java
  testing/src/main/java/io/stargate/it/grpc/AuthenticationTest.java
  testing/src/main/java/io/stargate/it/grpc/CollectionsTest.java
  testing/src/main/java/io/stargate/it/grpc/ExecuteBatchTest.java
  testing/src/main/java/io/stargate/it/grpc/ExecuteQueryTest.java
  testing/src/main/java/io/stargate/it/grpc/GrpcIntegrationTest.java
Labels: grpc

#956 GraphQL: pass all fetcher dependencies through environment.getContext() (fixes #945)
  graphqlapi/src/main/java/io/stargate/graphql/schema/CassandraFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/SchemaFactory.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/DdlSchemaBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/AllKeyspacesFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/AlterTableAddFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/AlterTableDropFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/CreateIndexFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/CreateKeyspaceFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/CreateTableFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/CreateTypeFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DdlQueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DropIndexFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DropKeyspaceFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DropTableFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DropTypeFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/IndexFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/SingleKeyspaceFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/TableFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/DmlSchemaBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkInsertMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DeleteMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DmlFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/InsertMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/MutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/UpdateMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/AdminSchemaBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/AllSchemasFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/DeploySchemaFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/DeploySchemaFetcherBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/DeploySchemaFileFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/SchemaFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/SingleSchemaFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/UndeploySchemaFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeleteFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeployedFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/FederatedEntityFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/InsertFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/OperationModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/SchemaProcessor.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModel.java
  graphqlapi/src/main/java/io/stargate/graphql/web/DropwizardServer.java
  graphqlapi/src/main/java/io/stargate/graphql/web/StargateGraphqlContext.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/GraphqlCache.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/GraphqlResourceBase.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/GraphQlTestBase.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/ddl/DdlTestBase.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/dml/DmlTestBase.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/AllSchemasFetcherTest.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/SingleSchemaFetcherTest.java
Labels: GraphQL CQL-first, GraphQL schema-first

#950 update schema cache from DeploySchemaFetcherBase
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/DeploySchemaFetcherBase.java
  graphqlapi/src/main/java/io/stargate/graphql/web/StargateGraphqlContext.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/GraphqlCache.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/GraphqlResourceBase.java
Labels: GraphQL schema-first

#960 Remove duplicate integration test
  testing/src/main/java/io/stargate/it/http/graphfirst/FilesResourceTest.java
Labels: GraphQL schema-first

#961 GraphQL schema-first: don't return full stacktrace some parsing errors
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/SchemaProcessor.java
  testing/src/main/java/io/stargate/it/http/graphql/GraphqlClient.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/GraphqlFirstClient.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/SchemaDeploymentTest.java
Labels: GraphQL schema-first

#958 Custom if clause for delete
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeleteFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeployedFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/FederatedEntityFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionsModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/EntityModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/IfConditionModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InvalidMappingReporter.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/OperationModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/WhereConditionModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/WhereConditionModelBuilder.java
  graphqlapi/src/main/resources/schemafirst/cql_directives.graphql
  persistence-api/src/main/java/io/stargate/db/query/builder/BuiltDML.java
  persistence-api/src/test/java/io/stargate/db/query/builder/BuiltDeleteTest.java
  persistence-api/src/test/java/io/stargate/db/query/builder/BuiltQueryTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/DeleteCustomConditionsTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/WhereAndIfDirectivesTest.java
Labels: GraphQL schema-first

#971 GraphQL: simplify cache internals (fixes #959)
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/GraphqlCache.java
Labels: GraphQL
