Repository stargate/stargate, pull requests merged in 2021-12, with the labels that each got.

#1448 Add string-only QueryBuilder
  pom.xml
  sgv2-service-common/pom.xml
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/ColumnUtils.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/ReservedKeywords.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/Strings.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/BuiltCondition.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/CollectionIndexingType.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Column.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/ConcreteValue.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Marker.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Predicate.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/QueryBuilderImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Replication.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Value.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/ValueModifier.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/ColumnUtilsTest.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/builder/QueryBuilderTest.java
Labels: stargate-v2

#1460 adding integration test using schema used in performance tests
  auth-api/pom.xml
  grpc/src/main/java/io/stargate/grpc/service/interceptors/NewConnectionInterceptor.java
  grpc/src/test/java/io/stargate/grpc/service/interceptors/NewConnectionInterceptorTest.java
  persistence-api/src/main/java/io/stargate/db/Persistence.java
  pom.xml
  restapi/pom.xml
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: stargate-v2

#1462 SGv2: replace OSS driver querybuilder with new sgv2 service-common QB
  sgv2-restapi/pom.xml
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResource.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResource.java
Labels: REST, stargate-v2

#1465 Implement patch/updateRow for SGv2/REST; passes a few more ITs
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/FromProtoValueCodecs.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
Labels: REST, stargate-v2

#1466 add support to v2 REST API for additional types
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/FromProtoValueCodecs.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoValueCodecs.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: stargate-v2

#1461 Implement index operations in sgv2-restapi
  sgv2-restapi/pom.xml
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/models/Sgv2IndexAddRequest.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceApi.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceImpl.java
  testing/src/main/java/io/stargate/it/http/RestApiExtension.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, stargate-v2

#1467 Extract gRPC stub creation to a filter
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/GrpcStubFactory.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/CreateGrpcStub.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/CreateGrpcStubFilter.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceApi.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceApi.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResource.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResource.java
Labels: REST, stargate-v2

#1468 Add support for "order-by" feature of get-all-rows/get-row-by-pk
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
Labels: REST, stargate-v2

#1471 Simplify stub construction
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/GrpcClientFactory.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/CreateGrpcStubFilter.java
Labels: REST, stargate-v2

#1472 Implement Column resource for SGv2/REST
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/BridgeSchemaClient.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RequestHandler.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2ColumnsResourceApi.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2ColumnsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResource.java
Labels: REST, stargate-v2

#1474 Simplify error handling
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/DefaultExceptionMapper.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/GrpcExceptionMapper.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RequestHandler.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2ColumnsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResource.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResource.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, grpc

#1493 SGv2: exclude old validation api, update to latest DropWizard
  pom.xml
  sgv2-restapi/pom.xml
Labels: REST, stargate-v2

#1492 Add SGv2 implementation of UDT endpoint (create, update, delete)
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/models/Sgv2UDT.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/models/Sgv2UDTAddRequest.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/models/Sgv2UDTUpdateRequest.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2UDTsResourceApi.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2UDTsResourceImpl.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, stargate-v2

#1495 Update remaining DropWizard dependencies, where applicable
  pom.xml
Labels: stargate-v2

#1497 Update DropWizard 2.0.21 -> 2.0.26, deps
  pom.xml
Labels: dependencies

#1498 (SGv2) Add GET method implementations (all, by-id) to UDT resource
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/FromProtoValueCodecs.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2UDTsResourceImpl.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, stargate-v2
