Repository stargate/stargate, pull requests merged in 2021-06, with the labels that each got.

#972 GraphQL schema-first: check authorization for the DDL queries of a deploySchema
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/DeploySchemaFetcherBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/migration/AddTableColumnQuery.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/migration/AddUdtFieldQuery.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/migration/CreateIndexQuery.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/migration/CreateTableQuery.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/migration/CreateUdtQuery.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/migration/DropTableQuery.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/migration/DropUdtQuery.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/migration/MigrationQuery.java
Labels: GraphQL schema-first

#970 gRPC API cleanup
  grpc-proto/proto/query.proto
  grpc-proto/proto/stargate.proto
  grpc/src/main/java/io/stargate/grpc/payload/PayloadHandler.java
  grpc/src/main/java/io/stargate/grpc/payload/PayloadHandlers.java
  grpc/src/main/java/io/stargate/grpc/payload/cql/ValuesHandler.java
  grpc/src/main/java/io/stargate/grpc/service/Service.java
  grpc/src/test/java/io/stargate/grpc/payload/BindValuesTest.java
  grpc/src/test/java/io/stargate/grpc/payload/ProcessResultTest.java
  grpc/src/test/java/io/stargate/grpc/service/BaseServiceTest.java
  grpc/src/test/java/io/stargate/grpc/service/BatchParametersTest.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteBatchTest.java
  grpc/src/test/java/io/stargate/grpc/service/ExecuteQueryTest.java
  grpc/src/test/java/io/stargate/grpc/service/QueryParametersTest.java
  testing/src/main/java/io/stargate/it/grpc/CollectionsTest.java
  testing/src/main/java/io/stargate/it/grpc/ExecuteBatchTest.java
  testing/src/main/java/io/stargate/it/grpc/ExecuteQueryTest.java
  testing/src/main/java/io/stargate/it/grpc/GrpcIntegrationTest.java
Labels: grpc

#978 gRPC errors
  grpc-proto/proto/query.proto
  grpc/src/main/java/io/stargate/grpc/service/Service.java
  grpc/src/test/java/io/stargate/grpc/service/PersistenceExceptionTest.java
Labels: grpc

#989 Add system property to configure replication options of stargate_graphql (fixes #987)
  graphqlapi/src/main/java/io/stargate/graphql/persistence/graphqlfirst/SchemaSourceDao.java
  graphqlapi/src/test/java/io/stargate/graphql/persistence/graphqlfirst/SchemaSourceDaoTest.java
Labels: GraphQL schema-first

#975 Allow IF conditions for UPDATE queries
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeleteFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeployedFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/FederatedEntityFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/InsertFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModels.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModelsBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionsModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/EntityModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/IfConditionModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InvalidMappingReporter.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MutationModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/OperationModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/WhereConditionModelBuilder.java
  graphqlapi/src/main/resources/schemafirst/cql_directives.graphql
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/UpdateCustomConditionsTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/UpdateTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/WhereAndIfDirectivesTest.java
Labels: GraphQL schema-first

#1003 Define the CQL directives programmatically
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModelsBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/CqlDirectives.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/EntityModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/FieldModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/IfConditionModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/IndexModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MappingModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MutationModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MutationModelFactory.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/SchemaProcessor.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/WhereConditionModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/FilesResource.java
  graphqlapi/src/main/resources/schemafirst/cql_directives.graphql
Labels: GraphQL schema-first

#1008 Gracefully handle missing default keyspace (fixes #1007)
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/DmlResource.java
  testing/src/main/java/io/stargate/it/http/graphql/GraphqlClient.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/CqlFirstClient.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/DefaultKeyspaceTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/GraphqlFirstClient.java
Labels: GraphQL

#996 GraphQL schema-first: allow custom consistency levels
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeleteFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeployedFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/FederatedEntityFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/InsertFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/MutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/CqlDirectives.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MutationModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MutationModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModelBuilder.java
Labels: GraphQL schema-first

#1012 Rename property to enable GraphQL-first API
  graphqlapi/src/main/java/io/stargate/graphql/GraphqlActivator.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/GraphqlFirstTestBase.java
Labels: GraphQL schema-first

#1005 Support incremental updates for UPDATE queries
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ArgumentDirectiveModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ArgumentDirectiveModels.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ArgumentDirectiveModelsBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModels.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModelsBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/CqlDirectives.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DeleteModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/DirectiveHelper.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/IfConditionModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/IncrementModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/IncrementModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/WhereConditionModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/util/TypeHelper.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/CqlIncrementDirectiveValidationTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/GraphqlFirstTestBase.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/UpdateCustomConditionsTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/UpdateIncrementalUpdatesTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/WhereAndIfDirectivesTest.java
Labels: GraphQL schema-first

#1014 GraphQL schema-first: fix type checks for conditions (fixes #1013)
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ConditionModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ResponsePayloadModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/WhereConditionModelBuilder.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/SelectInvalidConditionsTest.java
Labels: GraphQL schema-first

#1019 GraphQL CQL-first: support counter increments (fixes #986)
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/UpdateMutationFetcher.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/CounterUpdateTest.java
Labels: GraphQL CQL-first

#1022 GraphQL schema-first: allow custom TTL for INSERT and UPDATE
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/InsertFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/CqlDirectives.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MutationModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModelBuilder.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/TtlTest.java
Labels: GraphQL schema-first

#1034 GraphQL: use a single DataStore per HTTP request
  graphqlapi/src/main/java/io/stargate/graphql/schema/CassandraFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/AllKeyspacesFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/DdlQueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/ddl/fetchers/SingleKeyspaceFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkInsertMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DeleteMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/DmlFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/InsertMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/MutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/UpdateMutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/AllSchemasFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/DeploySchemaFetcherBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/SingleSchemaFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/UndeploySchemaFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeleteFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/DeployedFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/FederatedEntityFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/InsertFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/MutationFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ProcessingContext.java
  graphqlapi/src/main/java/io/stargate/graphql/web/DropwizardServer.java
  graphqlapi/src/main/java/io/stargate/graphql/web/StargateGraphqlContext.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/AuthenticationFilter.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/DmlResource.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/FilesResource.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/GraphqlCache.java
  graphqlapi/src/main/java/io/stargate/graphql/web/resources/GraphqlResourceBase.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/GraphQlTestBase.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkMutationFetcherTest.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/MutationFetcherTest.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/QueryFetcherTest.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/AllSchemasFetcherTest.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/graphqlfirst/fetchers/admin/SingleSchemaFetcherTest.java
Labels: GraphQL

#1018 Allow custom timestamp on operations
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/InsertFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/TimestampParser.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/UpdateFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ArgumentDirectiveModelsBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/CqlDirectives.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/FieldModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/IncrementModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/OperationModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/QueryModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/SchemaProcessor.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/UpdateModelBuilder.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/CqlTimestampDirectiveTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/CqlTimestampDirectiveValidationTest.java
Labels: GraphQL schema-first

#1042 Support bulk insert
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/InsertFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/InsertModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MutationModelBuilder.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/MutationModelFactory.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/OperationModel.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/OperationModelBuilderBase.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/ResponsePayloadModel.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/BulkInsertTest.java
  testing/src/main/java/io/stargate/it/http/graphql/graphqlfirst/BulkInsertValidationTest.java
Labels: GraphQL schema-first

#1070 GraphQL CQL-first: generate batch for atomic bulk insert
  graphqlapi/src/main/java/io/stargate/graphql/schema/cqlfirst/dml/fetchers/BulkMutationFetcher.java
  testing/src/main/java/io/stargate/it/http/graphql/cqlfirst/AtomicBulkInsertTest.java
Labels: GraphQL CQL-first
