Repository stargate/stargate, pull requests merged in 2022-05, with the labels that each got.

#1805 Revisit value handling in the query builder
  sgv2-graphqlapi/src/main/java/io/stargate/sgv2/graphql/schema/cqlfirst/dml/fetchers/DataTypeMapping.java
  sgv2-graphqlapi/src/main/java/io/stargate/sgv2/graphql/schema/cqlfirst/dml/fetchers/FilterOperator.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/WhereParser.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2UDTsResourceImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/BuiltCondition.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Literal.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Marker.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/QueryBuilderImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Term.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/ValueModifier.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/builder/QueryBuilderTest.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/builder/QueryBuilderValuesTest.java
Labels: stargate-v2

#1807 Use decorated name to cache keyspaces in bridge client
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClient.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClientTenantsTest.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClientTest.java
Labels: stargate-v2

#1797 Migrate JsonConverter to V2
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/properties/document/DocumentTableProperties.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/common/model/RowWrapper.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/json/DeadLeaf.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/json/DeadLeafCollector.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/json/DeadLeafCollectorImpl.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/json/JsonConverter.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/json/NoOpDeadLeafCollector.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/common/model/RowWrapperTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/json/JsonConverterTest.java
Labels: stargate-v2

#1822 Skip bridge authentication for GetSupportedFeatures (fixes #1821)
  bridge/src/main/java/io/stargate/bridge/service/interceptors/NewConnectionInterceptor.java
  testing/src/main/java/io/stargate/it/bridge/BridgeAuthorizationTest.java
Labels: grpc, stargate-v2

#1810 Migrate write query builders to Document API v2
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/config/constants/Constants.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/JsonShreddedRow.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/condition/impl/BooleanCondition.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/AbstractDeleteQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/DeleteDocumentQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentArrayQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentKeysQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentPathQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/InsertQueryBuilder.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/DocsApiTestSchemaProvider.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/FilterExpressionTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/util/DocsApiUtilsQuarkusTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/util/DocsApiUtilsTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/DeleteDocumentQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentArrayQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentKeysQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentPathQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/InsertQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/testprofiles/MaxDepth4TestProfile.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/testprofiles/MaxDepth8TestProfile.java
Labels: documents API, stargate-v2

#1831 Add JsonDocShredder, with tests
  ci/test.sh
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/JsonDocumentShredder.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/JsonDocumentShredderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/json/JsonConverterTest.java
Labels: documents API, stargate-v2

#1833 Implement WriteDocumentService in Document API v2 (fixes #1728)
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/models/ExecutionProfile.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/models/QueryInfo.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/ExecutionContext.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/util/TimeSource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/util/configuration/TimeSourceConfiguration.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/DocumentWriteService.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/AbstractDeleteQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/DeleteDocumentQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentArrayQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentKeysQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentPathQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/InsertQueryBuilder.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/bridge/AbstractValidatingStargateBridgeTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/bridge/ValidatingStargateBridge.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/DocumentWriteServiceTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/InsertQueryBuilderTest.java
Labels: documents API, stargate-v2

#1825 relates to #1737: setup for the integration tests in docs api v2
  ci/test.sh
  sgv2-docsapi/README.md
  sgv2-docsapi/pom.xml
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/example/ExampleResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/testprofiles/IntegrationTestProfile.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/testresource/StargateTestResource.java
Labels: documents API, stargate-v2

#1854 Change REST API module and artifact names to "sgv2-restapi" for Stargate V2
  sgv2-restapi/README.md
  sgv2-restapi/pom.xml
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServerFactory.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceStarter.java
  sgv2-restapi/src/main/resources/config.yaml
  starctl-service-rest
  testing/src/main/java/io/stargate/it/http/ApiServiceParameters.java
  testing/src/main/java/io/stargate/it/http/BaseRestApiTest.java
  testing/src/main/java/io/stargate/it/http/RestApiMetricsTest.java
Labels: REST, stargate-v2

#1842 Enforce requested clustering column order on REST API
  restapi/src/main/java/io/stargate/web/restapi/resources/v2/schemas/TablesResource.java
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
Labels: REST

#1852 closes #1839: api error response in case of a missing token
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/security/HeaderBasedAuthenticationMechanism.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/security/configuration/HeaderBasedSecurityConfiguration.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/example/ExampleResource.java
  sgv2-docsapi/src/main/resources/application.yaml
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/common/security/HeaderBasedAuthenticationMechanismTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/example/ExampleResourceTest.java
Labels: documents API, stargate-v2

#1844 closes #1721: keyspace manager for Docs API v2
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/schema/NamespaceManager.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/schema/common/SchemaManager.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/schema/query/NamespaceQueryProvider.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/schema/NamespaceManagerTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/schema/common/SchemaManagerTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/schema/query/NamespaceQueryProviderTest.java
Labels: documents API, stargate-v2

#1851 Use BatchQuery in document v2 write service (fixes #1846)
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/ExecutionContext.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/DocumentWriteService.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/AbstractDeleteQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/db/InsertQueryBuilder.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/DeleteDocumentQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentArrayQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentKeysQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/DeleteSubDocumentPathQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/db/InsertQueryBuilderTest.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/QueryBuilderImpl.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/builder/QueryBuilderTest.java
Labels: documents API, stargate-v2

#1847 Add JsonSchemaManager
  sgv2-docsapi/pom.xml
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/schema/JsonSchemaManager.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/schema/query/JsonSchemaQueryProvider.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/schema/JsonSchemaManagerTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/schema/query/JsonSchemaQueryProviderTest.java
Labels: documents API, stargate-v2

#1856 Fix for #1841 (separate from SGv1)
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResourceImpl.java
Labels: REST, stargate-v2
