Repository stargate/stargate, pull requests merged in 2022-03, with the labels that each got.

#1669 Improve logging by ConfigStoreYaml
  config-store-yaml/src/main/java/io/stargate/config/store/yaml/ConfigStoreYaml.java
  config-store-yaml/src/test/java/io/stargate/config/store/yaml/ConfigStoreYamlTest.java
Labels: config-store, stargate-v2

#1671 Populate client info on all queries
  grpc/src/main/java/io/stargate/grpc/service/interceptors/NewConnectionInterceptor.java
Labels: grpc

#1686 Fix #1685 handling of `timestamp` values on REST/json output
  restapi/pom.xml
  restapi/src/main/java/io/stargate/web/resources/Converters.java
  testing/src/main/java/io/stargate/it/http/RestApiv2RowsTest.java
Labels: REST

#1687 Use anonymous bind markers in v2 query builder
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/BuiltCondition.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Literal.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Marker.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/QueryBuilderImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Term.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/ValueModifier.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/builder/QueryBuilderTest.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/builder/QueryBuilderValuesTest.java
Labels: stargate-v2

#1681 Fix #1680: update Jackson dependency to 2.12.6
  config-store-yaml/pom.xml
  persistence-test/pom.xml
  pom.xml
  restapi/pom.xml
  restapi/src/main/java/io/stargate/web/resources/Converters.java
Labels: dependencies

#1690 gRPC: add support for CQL duration type
  grpc-proto/proto/query.proto
  grpc-proto/src/main/java/io/stargate/grpc/CqlDuration.java
  grpc-proto/src/main/java/io/stargate/grpc/Values.java
  grpc-proto/src/test/java/io/stargate/grpc/CqlDurationTest.java
  grpc/src/main/java/io/stargate/grpc/codec/DurationCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/VIntCoding.java
  grpc/src/main/java/io/stargate/grpc/codec/ValueCodecs.java
  testing/src/main/java/io/stargate/it/grpc/ExecuteQueryTest.java
Labels: grpc, stargate-v2

#1697 Add support for Duration/CqlDuration for REST API, SGv2
  restapi/src/test/java/io/stargate/web/resources/ConvertersTest.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/FromProtoValueCodecs.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoValueCodecs.java
  sgv2-restapi/src/test/java/io/stargate/sgv2/restsvc/grpc/ToProtoConverterTest.java
  testing/src/main/java/io/stargate/it/http/RestApiv2RowsTest.java
Labels: REST, stargate-v2

#1698 gRPC: Revisit index metadata
  bridge/src/main/java/io/stargate/bridge/service/SchemaHandler.java
  grpc-proto/proto/schema.proto
  testing/src/main/java/io/stargate/it/bridge/SchemaTest.java
Labels: grpc, stargate-v2

#1695 Add testing of Duration/CqlDuration values wrt REST API
  restapi/src/test/java/io/stargate/web/resources/ConvertersTest.java
  testing/src/main/java/io/stargate/it/http/RestApiv2RowsTest.java
Labels: REST, test

#1702 Fix changelog reference for release v1.0.51 to get proper delta
  CHANGELOG.md
Labels: documentation

#1703 Prepare common components for GraphQL v2
  bridge/src/main/java/io/stargate/bridge/service/SchemaHandler.java
  grpc-proto/src/main/java/io/stargate/grpc/BytesValues.java
  grpc-proto/src/main/java/io/stargate/grpc/Values.java
  grpc-proto/src/test/java/io/stargate/grpc/BytesValuesTest.java
  grpc-proto/src/test/java/io/stargate/grpc/ValuesTest.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/CqlStrings.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/BuiltCondition.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/QueryBuilderImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/futures/Futures.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/UnaryStreamObserver.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/proto/Rows.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/CqlStringsTest.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/builder/QueryBuilderTest.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClientTest.java
Labels: stargate-v2

#1741 Update jackson-databind to 2.12.6.1 (via jackson-bom) for CVE-2020-36518
  pom.xml
Labels: dependencies

#1739 Upgrade java driver 4.9 -> 4.10, to make gremlin dep optional
  auth-jwt-service/src/test/java/io/stargate/auth/jwt/PlainTextJwtTokenSaslNegotiatorTest.java
  auth-table-based-service/src/test/java/io/stargate/auth/table/PlainTextTableBasedTokenSaslNegotiatorTest.java
  pom.xml
Labels: dependencies

#1740 Remove `auto-factory` dependency if possible; or if not, update version from pre-1.0 to 1.0.1
  persistence-cassandra-4.0/pom.xml
  persistence-dse-6.8/pom.xml
Labels: dependencies

#1745 Force C*4 persistence to use latest Netty (4.1.75-final)
  persistence-cassandra-4.0/pom.xml
Labels: dependencies

#1751 Netty version update to 4.1.75.Final
  persistence-api/pom.xml
  persistence-cassandra-3.11/pom.xml
Labels: dependencies

#1711 Remove StargateBridgeSchema
  bridge/src/main/java/io/stargate/bridge/BridgeActivator.java
  bridge/src/main/java/io/stargate/bridge/impl/BridgeImpl.java
  bridge/src/main/java/io/stargate/bridge/service/BridgeService.java
  bridge/src/main/java/io/stargate/bridge/service/SchemaHandler.java
  bridge/src/main/java/io/stargate/bridge/service/SchemaNotificationsHandler.java
  bridge/src/main/java/io/stargate/bridge/service/interceptors/BridgeNewConnectionInterceptor.java
  bridge/src/test/java/io/stargate/bridge/service/SchemaOperationsTest.java
  core/src/main/java/io/stargate/core/grpc/BridgeConfig.java
  grpc-proto/proto/bridge.proto
  grpc-proto/proto/schema.proto
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2ColumnsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResourceImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClientFactory.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeSchema.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/KeyspaceInvalidationListener.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeClientFactory.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeSchema.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClientTest.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeSchemaTest.java
  testing/src/main/java/io/stargate/it/bridge/SchemaNotificationsTest.java
Labels: stargate-v2
