Repository stargate/stargate, pull requests merged in 2022-01, with the labels that each got.

#1509 Support stringified values via REST API
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/StringifiedValueUtil.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoConverter.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoValueCodec.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoValueCodecs.java
  sgv2-restapi/src/test/java/io/stargate/sgv2/restsvc/grpc/ToProtoConverterTest.java
Labels: REST, stargate-v2

#1524 More testing wrt #1517: $contains for set<text>
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, test

#1531 Fix 3 ITs that now expect "text" as type for all columns, tables etc.
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/BridgeProtoTypeTranslator.java
Labels: REST, stargate-v2

#1530 More REST API test coverage: test with 2 filters for one field (gt + lt)
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST

#1523 Follow up to #1477: implement $exists, $contains, $containsKey and $containsEntry operations
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/StringifiedValueUtil.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoConverter.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoValueCodec.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoValueCodecs.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/WhereParser.java
Labels: REST, stargate-v2

#1536 Add Integration test to cover UDT insert/get for REST API
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, test

#1537 Add support for UDT inserts/gets in Stargate V2 REST API
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/FromProtoValueCodecs.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/StringifiedValueUtil.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoValueCodecs.java
Labels: REST, stargate-v2

#1403 gRPC: Add operation to stream schema changes
  grpc-proto/proto/query.proto
  grpc-proto/proto/schema.proto
  grpc-proto/proto/stargate.proto
  grpc/src/main/java/io/stargate/grpc/service/GrpcService.java
  grpc/src/main/java/io/stargate/grpc/service/SchemaHandler.java
  grpc/src/main/java/io/stargate/grpc/service/SchemaNotificationsHandler.java
  grpc/src/main/java/io/stargate/grpc/service/interceptors/NewConnectionInterceptor.java
  grpc/src/test/java/io/stargate/grpc/service/interceptors/NewConnectionInterceptorTest.java
  persistence-api/src/main/java/io/stargate/db/Persistence.java
  persistence-api/src/main/java/io/stargate/db/RateLimitingPersistence.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/Cassandra311Persistence.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/EventListenerWrapper.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/interceptors/DefaultQueryInterceptor.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/interceptors/QueryInterceptor.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/Cassandra40Persistence.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/interceptors/DefaultQueryInterceptor.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/interceptors/QueryInterceptor.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/DsePersistence.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/interceptors/DefaultQueryInterceptor.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/interceptors/ProxyProtocolQueryInterceptor.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/interceptors/QueryInterceptor.java
  sgv2-service-common/pom.xml
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/futures/Futures.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/futures/UncheckedExecutionException.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/InitReplayingStreamObserver.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/SingleStreamObserver.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/schema/SchemaCache.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/schema/SchemaCacheGrpc.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/schema/SchemaListener.java
  testing/src/main/java/io/stargate/it/grpc/SchemaNotificationsTest.java
Labels: grpc, stargate-v2

#1540 Add Integration Test that inserts+gets a Tuple value (was missing)
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, test

#1539 Improve validation fail messages inspired by #1538
  persistence-api/src/main/java/io/stargate/db/schema/Column.java
Labels: enhancement, REST

#1545 Fix an IT failing for some backends in CI by less strict message comparison
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, test, stargate-v2

#1547 disabling tests for features not currently supported in SGv2
  testing/src/main/java/io/stargate/it/http/RestApiJWTAuthTest.java
  testing/src/main/java/io/stargate/it/http/RestApiTest.java
Labels: stargate-v2

#1549 fixing errors in schema test case
  testing/src/main/java/io/stargate/it/grpc/SchemaTest.java
Labels: stargate-v2

#1550 Fix HealthCheck IT tests to work with StargateV2/REST rearchitecting
  testing/src/main/java/io/stargate/it/http/HealthCheckerTest.java
  testing/src/main/java/io/stargate/it/http/RestHealthCheckerTest.java
Labels: REST, stargate-v2

#1541 Add Tuple insert/get support in StargateV2/REST
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/FromProtoValueCodecs.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/StringifiedValueUtil.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoValueCodecs.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, stargate-v2

#1548 Fix #1538: do not verify quoting for Column as it prevents use of mixed-case UDT names
  persistence-api/src/main/java/io/stargate/db/schema/Column.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST

#1552 Improve gprc value decode exception messages to help troubleshooting
  grpc-proto/src/main/java/io/stargate/grpc/Values.java
Labels: grpc

#1555 Fix gRPC to properly skip connection creation for GetSchemaNotifications
  grpc/src/main/java/io/stargate/grpc/service/interceptors/NewConnectionInterceptor.java
  testing/src/main/java/io/stargate/it/grpc/SchemaNotificationsTest.java
Labels: grpc, stargate-v2

#1556 Update/Unify Jackson components used by SGv2 REST API to use 2.12.6
  sgv2-restapi/pom.xml
Labels: REST, stargate-v2

#1561 Remove gRPC create operations
  grpc-proto/proto/schema.proto
  grpc-proto/proto/stargate.proto
  grpc/src/main/java/io/stargate/grpc/service/BatchHandler.java
  grpc/src/main/java/io/stargate/grpc/service/CreateTableHandler.java
  grpc/src/main/java/io/stargate/grpc/service/DdlMessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/GrpcService.java
  grpc/src/main/java/io/stargate/grpc/service/MessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/PreparedMessageHandler.java
  grpc/src/main/java/io/stargate/grpc/service/QueryHandler.java
  grpc/src/main/java/io/stargate/grpc/service/streaming/StreamingBatchHandlerFactory.java
  grpc/src/main/java/io/stargate/grpc/service/streaming/StreamingHandlerFactory.java
  grpc/src/main/java/io/stargate/grpc/service/streaming/StreamingQueryHandlerFactory.java
  grpc/src/test/java/io/stargate/grpc/service/CreateTableTest.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/BridgeSchemaClient.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResourceImpl.java
Labels: grpc, stargate-v2

#1560 Upgrade Micrometer and prometheus-client versions in v2.0.0
  pom.xml
Labels: REST, stargate-v2

#1566 Fix issues with passing `null`s through grpc for SGv2/REST
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/ToProtoConverter.java
Labels: REST, stargate-v2

#1569 Double-quote UDTs in type strings passed to QueryBuilder
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/CqlStrings.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/Strings.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/QueryBuilderImpl.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/CqlStringsTest.java
Labels: stargate-v2

#1571 fix quantiles check in the RestApiMetricsTest
  testing/src/main/java/io/stargate/it/http/RestApiMetricsTest.java
Labels: stargate-v2

#1578 Improve error message for the case of failed gRPC->external value con…
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/grpc/FromProtoConverter.java
Labels: REST, stargate-v2

#1576 Remove noisy logging statements that clutter perf tests
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2ColumnsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2UDTsResourceImpl.java
Labels: REST, stargate-v2

#1557 Handle bridge auth for background operations
  core/src/main/java/io/stargate/core/grpc/BridgeConfig.java
  grpc/src/main/java/io/stargate/grpc/GrpcActivator.java
  grpc/src/main/java/io/stargate/grpc/impl/GrpcImpl.java
  grpc/src/main/java/io/stargate/grpc/service/interceptors/NewConnectionInterceptor.java
  grpc/src/test/java/io/stargate/grpc/service/HeadersTest.java
  grpc/src/test/java/io/stargate/grpc/service/interceptors/NewConnectionInterceptorTest.java
  testing/src/main/java/io/stargate/it/grpc/SchemaNotificationsTest.java
  testing/src/main/java/io/stargate/it/http/RestApiExtension.java
  testing/src/main/java/io/stargate/it/storage/StargateExtension.java
Labels: grpc, stargate-v2

#1575 setting versioning for v2
  auth-api/pom.xml
  auth-jwt-service/pom.xml
  auth-table-based-service/pom.xml
  authnz/pom.xml
  config-store-api/pom.xml
  config-store-yaml/pom.xml
  core/pom.xml
  cql/pom.xml
  graphqlapi/pom.xml
  grpc-examples/pom.xml
  grpc-proto/pom.xml
  grpc/pom.xml
  health-checker/pom.xml
  metrics-jersey/pom.xml
  persistence-api/pom.xml
  persistence-cassandra-3.11/pom.xml
  persistence-cassandra-4.0/pom.xml
  persistence-common/pom.xml
  persistence-dse-6.8/pom.xml
  persistence-test/pom.xml
  pom.xml
  rate-limiting-global/pom.xml
  restapi/pom.xml
  sgv2-restapi/pom.xml
  sgv2-service-common/pom.xml
  stargate-starter/pom.xml
  testing-services/pom.xml
  testing/pom.xml
Labels: stargate-v2

#1581 Another attempt at fix for #1580 (and undo #1567)
  ci/test.sh
Labels: CI

#1586 Improve code to help troubleshoot #1577, by more validation of UUID codec
  grpc/src/main/java/io/stargate/grpc/codec/UuidCodec.java
  grpc/src/test/java/io/stargate/grpc/codec/ValueCodecTest.java
Labels: grpc

#1597 Fix root cause of #1577 (along with simple tests)
  grpc/src/main/java/io/stargate/grpc/codec/BytesCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/InetCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/UuidCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/VarintCodec.java
  grpc/src/test/java/io/stargate/grpc/codec/ValueCodecTest.java
  testing/src/main/java/io/stargate/it/grpc/ExecuteQueryTest.java
Labels: grpc

#1593 Add validation for #1592; also add a test for UUID case (failing)
  grpc/src/main/java/io/stargate/grpc/codec/DecimalCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/InetCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/UuidCodec.java
  grpc/src/main/java/io/stargate/grpc/codec/VarintCodec.java
  testing/src/main/java/io/stargate/it/grpc/ExecuteQueryTest.java
Labels: grpc

#1591 Add a test case to reproduce #1577 fail on v2.0.0
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, test, stargate-v2

#1584 Update release-v2.yml
  .github/workflows/release-v2.yml
Labels: stargate-v2
