Repository stargate/stargate, pull requests merged in 2022-07, with the labels that each got.

#1931 relates to #1737: docs api V2 action workflow updates
  .github/workflows/v2-docs-api.yaml
  ci/test.sh
  sgv2-docsapi/pom.xml
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentDeleteResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentPatchResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentReadResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentUpdateResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentWriteResource.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/schema/TableManagerTest.java
Labels: documents API, stargate-v2

#1933 relates to #1730: added document delete resource test
  sgv2-docsapi/pom.xml
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/ReadDocumentsService.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentDeleteResourceIntegrationTest.java
Labels: documents API, stargate-v2

#1945 update docs api V2 traget C* and DSE versions
  sgv2-docsapi/pom.xml
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/testresource/StargateTestResource.java
Labels: documents API, stargate-v2

#1944 relates to #1920: update C* and DSE versions in the docker compose
  docker-compose/cassandra-3.11/.env
  docker-compose/cassandra-4.0/.env
  docker-compose/dse-6.8/.env
  persistence-cassandra-3.11/README.md
  persistence-cassandra-4.0/README.md
  persistence-dse-6.8/README.md
Labels: stargate-v2

#1930 closes #1734: int tests for search, get document and sub-document
  .github/workflows/v2-docs-api.yaml
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/exception/RuntimeExceptionMapper.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentReadResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/common/model/Paginator.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/ReadDocumentsService.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/executor/QueryExecutor.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentReadResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/ReadDocumentsServiceTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/executor/QueryExecutorTest.java
  sgv2-docsapi/src/test/resources/documents/example.json
  sgv2-docsapi/src/test/resources/documents/long-search.json
Labels: documents API, stargate-v2

#1942 relates to #1730: document write resource tests
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentWriteResourceIntegrationTest.java
Labels: documents API, stargate-v2

#1950 relates to #1730: document patch resource tests
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/write/WriteDocumentsService.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentPatchResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentWriteResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/WriteDocumentsServiceTest.java
Labels: documents API, stargate-v2

#1951 relates to #1730: document update resource tests
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentPatchResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentReadResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentUpdateResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentWriteResource.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/CollectionsResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentDeleteResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentPatchResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentReadResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentUpdateResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentWriteResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/schemas/namespaces/NamespacesResourceIntegrationTest.java
  sgv2-docsapi/src/test/resources/documents/too-deep.json
Labels: documents API, stargate-v2

#1914 Continuation of CI/IT experiment -- build all 3 backends in parallel
  .github/workflows/ci-test.yml
Labels: CI

#1954 Fix for #1953: add ability to override DropWizard app config file
  auth-api/src/main/java/io/stargate/auth/api/impl/AuthApiRunner.java
  auth-api/src/main/java/io/stargate/auth/api/impl/AuthApiServer.java
  auth-api/src/main/java/io/stargate/auth/api/impl/AuthApiServerFactory.java
  auth-api/src/main/resources/authapi-config.yaml
  graphqlapi/src/main/java/io/stargate/graphql/GraphqlActivator.java
  graphqlapi/src/main/java/io/stargate/graphql/web/DropwizardServer.java
  graphqlapi/src/main/java/io/stargate/graphql/web/GraphqlApiServerFactory.java
  graphqlapi/src/main/resources/graphqlapi-config.yaml
  health-checker/src/main/java/io/stargate/health/HealthCheckerServerFactory.java
  health-checker/src/main/java/io/stargate/health/WebImpl.java
  health-checker/src/main/resources/health-checker-config.yaml
  metrics-jersey/pom.xml
  metrics-jersey/src/main/java/io/stargate/metrics/jersey/dwconfig/StargateV1ConfigurationSourceProvider.java
  metrics-jersey/src/test/java/io/stargate/metrics/jersey/dwconfig/StargateV1ConfigurationSourceProviderTest.java
  metrics-jersey/src/test/resources/alt-config.yaml
  metrics-jersey/src/test/resources/cwd/testapi-config.yaml
  metrics-jersey/src/test/resources/testapi-config.yaml
  restapi/src/main/java/io/stargate/web/impl/RestApiRunner.java
  restapi/src/main/java/io/stargate/web/impl/RestApiServer.java
  restapi/src/main/java/io/stargate/web/impl/RestApiServerFactory.java
  restapi/src/main/resources/restapi-config.yaml
Labels: stargate-v1

#1969 Fix #1968: update DropWizard dep 2.0.28->2.0.32, its dependencies
  pom.xml
Labels: dependencies

#1964 closes #1735: execute builtin functions functionality
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/StargateDocsApi.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/BuiltInFunctionResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/model/dto/BuiltInFunctionDto.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/config/constants/OpenApiConstants.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/function/BuiltInFunction.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/function/FunctionService.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/function/impl/PopFunction.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/function/impl/PushFunction.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/json/JsonConverter.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/BuiltInFunctionResourceIntegrationTest.java
Labels: documents API, stargate-v2

#1995 Move integration test utilities to sgv2-quarkus-common
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/CollectionsResourceIntegrationTest.java
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/BuiltInFunctionResourceIntegrationTest.java
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentDeleteResourceIntegrationTest.java
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentPatchResourceIntegrationTest.java
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentReadResourceIntegrationTest.java
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentUpdateResourceIntegrationTest.java
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/DocumentWriteResourceIntegrationTest.java
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/jsonschema/JsonSchemaResourceIntegrationTest.java
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/schemas/namespaces/NamespacesResourceIntegrationTest.java
  apis/sgv2-quarkus-common/pom.xml
  apis/sgv2-quarkus-common/src/test/java/io/stargate/sgv2/common/testprofiles/IntegrationTestProfile.java
  apis/sgv2-quarkus-common/src/test/java/io/stargate/sgv2/common/testresource/StargateTestResource.java
Labels: stargate-v2
