Repository stargate/stargate, pull requests merged in 2022-09, with the labels that each got.

#2051 Remove unneeded tests from SGv2 (RESTv1 not supported by the new backend)
  testing/src/main/java/io/stargate/it/http/RestApiJWTAuthTest.java
Labels: test, stargate-v2

#2055 Stargate v2 readme updates
  DEV_GUIDE.md
  README.md
  apis/README.md
  apis/sgv2-docsapi/CONFIGURATION.md
  apis/sgv2-docsapi/README.md
  apis/sgv2-graphqlapi/README.md
  apis/sgv2-quarkus-common/CONFIGURATION.md
  apis/sgv2-quarkus-common/README.md
  assets/stargate-arch-high-level.png
  assets/stargate-modules-preview-version.png
  assets/stargate-modules.png
  docker-compose/README.md
Labels: stargate-v2

#2069 Unify REST sgv2 (Q) configuration to be more similar to Docs API; increase Coordinator container startup timeout
  apis/sgv2-quarkus-common/src/test/java/io/stargate/sgv2/common/testresource/StargateTestResource.java
  apis/sgv2-restapi/src/main/resources/application.yaml
Labels: REST, stargate-v2

#2066 Upgrade Jackson from 2.12.7 to 2.13.4; snakeyaml to 1.0.31
  pom.xml
Labels: dependencies

#2072 Change sgv2 REST API default port back to 8082
  apis/sgv2-restapi/pom.xml
  apis/sgv2-restapi/src/main/resources/application.yaml
  apis/sgv2-restapi/src/test/java/io/stargate/sgv2/it/persistence/RestApiV2QMaterializedViewIT.java
  docker-compose/cassandra-4.0/docker-compose-dev-mode.yml
  docker-compose/cassandra-4.0/docker-compose.yml
Labels: stargate-v2

#2079 Upgrade SnakeYAML dependency to 1.32 for CVE-2022-38725
  pom.xml
Labels: dependencies

#2086 option to enable auth in the int tests
  apis/sgv2-quarkus-common/src/test/java/io/stargate/sgv2/common/CqlEnabledIntegrationTestBase.java
  apis/sgv2-quarkus-common/src/test/java/io/stargate/sgv2/common/IntegrationTestUtils.java
Labels: stargate-v2

#2091 conditional bump version PR on the release
  .github/workflows/release-v2.yml
Labels: stargate-v2

#2088 Fix "all keyspaces" test to work with CNDB backend
  apis/sgv2-restapi/src/main/java/io/stargate/sgv2/restapi/service/models/Sgv2Keyspace.java
  apis/sgv2-restapi/src/test/java/io/stargate/sgv2/it/RestApiV2QSchemaKeyspacesIT.java
  apis/sgv2-restapi/src/test/java/io/stargate/sgv2/it/persistence/RestApiV2QIndexSASI_IT.java
Labels: stargate-v2

#2092 fix flaky graphql v2 int tests
  apis/sgv2-graphqlapi/src/test/java/io/stargate/sgv2/graphql/integration/cqlfirst/MetricsIntegrationTest.java
  apis/sgv2-graphqlapi/src/test/java/io/stargate/sgv2/graphql/integration/cqlfirst/ScalarsIntegrationTest.java
  apis/sgv2-graphqlapi/src/test/java/io/stargate/sgv2/graphql/integration/graphqlfirst/DataTypesIntegrationTest.java
  apis/sgv2-graphqlapi/src/test/java/io/stargate/sgv2/graphql/integration/util/MetricsTestsHelper.java
Labels: stargate-v2

#2093 eliminating obsolete extra starctl scripts
  Dockerfile
  starctl
  starctl-coordinator
  starctl-service-graphql
  starctl-service-rest
Labels: stargate-v2

#2087 Add retry for data store properties access; new property to enable use of fallbacks
  apis/sgv2-quarkus-common/pom.xml
  apis/sgv2-quarkus-common/src/main/java/io/stargate/sgv2/api/common/config/DataStoreConfig.java
  apis/sgv2-quarkus-common/src/main/java/io/stargate/sgv2/api/common/properties/datastore/configuration/DataStorePropertiesConfiguration.java
  apis/sgv2-quarkus-common/src/test/java/io/stargate/sgv2/api/common/properties/datastore/configuration/BridgeDataStorePropertiesRetryTest.java
  apis/sgv2-quarkus-common/src/test/resources/application.yaml
Labels: stargate-v2

#2105 Fix docker compose ports
  docker-compose/cassandra-3.11/README.md
  docker-compose/cassandra-3.11/docker-compose-dev-mode.yml
  docker-compose/cassandra-3.11/docker-compose.yml
  docker-compose/cassandra-4.0/README.md
  docker-compose/cassandra-4.0/docker-compose-dev-mode.yml
  docker-compose/cassandra-4.0/docker-compose.yml
  docker-compose/dse-6.8/README.md
  docker-compose/dse-6.8/docker-compose-dev-mode.yml
  docker-compose/dse-6.8/docker-compose.yml
Labels: stargate-v2

#2102 update quarkus version to 2.12.3
  apis/pom.xml
Labels: stargate-v2

#2101 closes #2085: publish v2 quarkus-common jar to the maven repository
  .github/workflows/apis-v2.yaml
  .github/workflows/release-v2.yml
  apis/pom.xml
  apis/sgv2-quarkus-common/src/main/java/io/stargate/sgv2/api/common/grpc/proto/Rows.java
  apis/sgv2-quarkus-common/src/main/java/io/stargate/sgv2/api/common/tenant/TenantResolver.java
  apis/sgv2-quarkus-common/src/main/java/io/stargate/sgv2/api/common/token/CassandraTokenResolver.java
Labels: stargate-v2
