Repository stargate/stargate, pull requests merged in 2022-10, with the labels that each got.

#2067 Allow executing a built in function against the root of a document
  apis/sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/BuiltInFunctionResource.java
  apis/sgv2-docsapi/src/main/resources/application.yaml
  apis/sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/documents/BuiltInFunctionResourceIntegrationTest.java
Labels: documents API, stargate-v2

#2138 disabe vert.x uri validation in the v2 docker images
  apis/sgv2-docsapi/src/main/docker/Dockerfile.jvm
  apis/sgv2-docsapi/src/main/docker/Dockerfile.legacy-jar
  apis/sgv2-docsapi/src/main/docker/Dockerfile.native
  apis/sgv2-docsapi/src/main/docker/Dockerfile.native-micro
  apis/sgv2-restapi/src/main/docker/Dockerfile.jvm
  apis/sgv2-restapi/src/main/docker/Dockerfile.legacy-jar
  apis/sgv2-restapi/src/main/docker/Dockerfile.native
  apis/sgv2-restapi/src/main/docker/Dockerfile.native-micro
Labels: work in progress, stargate-v2

#2171 Add logging of gRPC failures in case where problem is from server-sid…
  .github/workflows/apis-v2.yaml
  apis/sgv2-quarkus-common/src/main/java/io/stargate/sgv2/api/common/exception/StatusRuntimeExceptionMapper.java
  apis/sgv2-quarkus-common/src/test/java/io/stargate/sgv2/api/common/exception/StatusRuntimeExceptionMapperTest.java
Labels: stargate-v2
