Repository stargate/stargate, pull requests merged in 2022-04, with the labels that each got.

#1758 Upgrade io.grpc dependencies from 1.42.1 to 1.45.1, use grpc-bom
  grpc-examples/pom.xml
  grpc-proto/pom.xml
  grpc/pom.xml
  pom.xml
  testing/pom.xml
Labels: dependencies

#1757 Add bridge method to get supported persistence features
  bridge/src/main/java/io/stargate/bridge/service/BridgeService.java
  bridge/src/test/java/io/stargate/bridge/service/SupportedFeaturesTest.java
  grpc-proto/proto/bridge.proto
  grpc-proto/proto/schema.proto
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClientFactory.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/LazyReference.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeClient.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClientTest.java
Labels: grpc, stargate-v2

#1763 Add "enriched" responses to grpc bridge
  grpc-proto/proto/query.proto
  grpc/src/main/java/io/stargate/grpc/service/QueryHandler.java
  grpc/src/main/java/io/stargate/grpc/service/ValuesHelper.java
  testing/src/main/java/io/stargate/it/bridge/BridgeIntegrationTest.java
  testing/src/main/java/io/stargate/it/bridge/EnrichedQueryTest.java
Labels: stargate-v2

#1780 Revert Persistence.unregisterEventListener (fixes #1777)
  persistence-api/src/main/java/io/stargate/db/Persistence.java
  persistence-api/src/main/java/io/stargate/db/RateLimitingPersistence.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/Cassandra311Persistence.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/EventListenerWrapper.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/interceptors/DefaultQueryInterceptor.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/interceptors/QueryInterceptor.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/Cassandra40Persistence.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/interceptors/DefaultQueryInterceptor.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/interceptors/QueryInterceptor.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/DsePersistence.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/interceptors/DefaultQueryInterceptor.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/interceptors/ProxyProtocolQueryInterceptor.java
  persistence-dse-6.8/src/main/java/io/stargate/db/dse/impl/interceptors/QueryInterceptor.java
Labels: stargate-v2

#1781 Fix Values.byteBuffer to return non-empty buffer (fixes #1676)
  grpc-proto/src/main/java/io/stargate/grpc/Values.java
  grpc-proto/src/test/java/io/stargate/grpc/ValuesTest.java
Labels: grpc

#1794 Add utility to deal with TypeSpec instances
  bridge-proto/src/main/java/io/stargate/bridge/grpc/TypeSpecs.java
  bridge-proto/src/test/java/io/stargate/bridge/grpc/TypeSpecsTest.java
Labels: grpc, stargate-v2

#1800 Add exception message in ErrorCodeRuntimeException for inclusion in Response
  restapi/src/main/java/io/stargate/web/docsapi/service/DocsShredder.java
  restapi/src/main/java/io/stargate/web/docsapi/service/JsonSchemaHandler.java
  restapi/src/main/java/io/stargate/web/docsapi/service/ReactiveDocumentService.java
Labels: documents API
