Repository stargate/stargate, pull requests merged in 2022-02, with the labels that each got.

#1601 Start refactoring RESTv2 Schema CRUD tests into separate test class
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: test

#1607 More Rest IT refactoring for #1600
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, test

#1602 Improve Docker-compose scripts
  build_docker_images.sh
  docker-compose/cassandra-3.11/.env
  docker-compose/cassandra-3.11/README.md
  docker-compose/cassandra-3.11/docker-compose.yml
  docker-compose/cassandra-3.11/start_cass_311.sh
  docker-compose/cassandra-3.11/start_cass_311_dev_mode.sh
  docker-compose/cassandra-4.0/.env
  docker-compose/cassandra-4.0/README.md
  docker-compose/cassandra-4.0/docker-compose.yml
  docker-compose/cassandra-4.0/start_cass_40.sh
  docker-compose/cassandra-4.0/start_cass_40_dev_mode.sh
  docker-compose/dse-6.8/.env
  docker-compose/dse-6.8/README.md
  docker-compose/dse-6.8/docker-compose.yml
  docker-compose/dse-6.8/start_dse_68.sh
  docker-compose/dse-6.8/start_dse_68_dev_mode.sh
Labels: stargate-v2

#1608 More REST/IT refactoring: move Table, Index, Column creation to schema-specific test
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: REST, test

#1611 Misc cleanup based on ErrorProne warnings
  sgv2-restapi/pom.xml
  testing/src/main/java/io/stargate/it/http/RestApiv2Test.java
Labels: stargate-v2

#1612 Last refactoring for #1600, move UDT tests, rename classes
  testing/src/main/java/io/stargate/it/http/RestApiv1Test.java
  testing/src/main/java/io/stargate/it/http/RestApiv2RowsTest.java
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
Labels: REST, test

#1605 refactor patching of the documents
  restapi/src/main/java/io/stargate/web/docsapi/dao/DocumentDB.java
  restapi/src/main/java/io/stargate/web/docsapi/exception/ErrorCode.java
  restapi/src/main/java/io/stargate/web/docsapi/resources/DocumentResourceV2.java
  restapi/src/main/java/io/stargate/web/docsapi/resources/ReactiveDocumentResourceV2.java
  restapi/src/main/java/io/stargate/web/docsapi/service/DocumentService.java
  restapi/src/main/java/io/stargate/web/docsapi/service/ReactiveDocumentService.java
  restapi/src/main/java/io/stargate/web/docsapi/service/util/DocsApiUtils.java
  restapi/src/main/java/io/stargate/web/docsapi/service/write/DocumentWriteService.java
  restapi/src/main/java/io/stargate/web/docsapi/service/write/db/AbstractDeleteQueryBuilder.java
  restapi/src/main/java/io/stargate/web/docsapi/service/write/db/DeleteDocumentQueryBuilder.java
  restapi/src/main/java/io/stargate/web/docsapi/service/write/db/DeleteQueryBuilder.java
  restapi/src/main/java/io/stargate/web/docsapi/service/write/db/DeleteSubDocumentArrayQueryBuilder.java
  restapi/src/main/java/io/stargate/web/docsapi/service/write/db/DeleteSubDocumentKeysQueryBuilder.java
  restapi/src/main/java/io/stargate/web/docsapi/service/write/db/DeleteSubDocumentPathQueryBuilder.java
  restapi/src/test/java/io/stargate/db/datastore/ValidatingDataStore.java
  restapi/src/test/java/io/stargate/web/docsapi/dao/DocumentDBTest.java
  restapi/src/test/java/io/stargate/web/docsapi/resources/DocumentResourceV2Test.java
  restapi/src/test/java/io/stargate/web/docsapi/service/DocumentServiceTest.java
  restapi/src/test/java/io/stargate/web/docsapi/service/ReactiveDocumentServiceTest.java
  restapi/src/test/java/io/stargate/web/docsapi/service/util/DocsApiUtilsTest.java
  restapi/src/test/java/io/stargate/web/docsapi/service/write/DocumentWriteServiceTest.java
  restapi/src/test/java/io/stargate/web/docsapi/service/write/db/DeleteDocumentQueryBuilderTest.java
  restapi/src/test/java/io/stargate/web/docsapi/service/write/db/DeleteSubDocumentArrayQueryBuilderTest.java
  restapi/src/test/java/io/stargate/web/docsapi/service/write/db/DeleteSubDocumentKeysQueryBuilderTest.java
  restapi/src/test/java/io/stargate/web/docsapi/service/write/db/DeleteSubDocumentPathQueryBuilderTest.java
  testing/src/main/java/io/stargate/it/http/docsapi/BaseDocumentApiV2Test.java
  testing/src/main/java/io/stargate/it/http/docsapi/JsonSchemaResourceIntTest.java
Labels: documents API

#1615 fixed merge error that changed expected result string
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
Labels: stargate-v2

#1613 gRPC: Fix conversion of UDT field types
  bridge/src/main/java/io/stargate/bridge/service/SchemaHandler.java
  grpc/src/main/java/io/stargate/grpc/service/ValuesHelper.java
  testing/src/main/java/io/stargate/it/bridge/SchemaTest.java
Labels: grpc, stargate-v2

#1614 gRPC: Fix conversion of UDT field types
  grpc/src/main/java/io/stargate/grpc/service/ValuesHelper.java
  testing/src/main/java/io/stargate/it/grpc/ExecuteQueryTest.java
Labels: grpc

#1619 Use infinite deadline for schema operations
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/schema/SchemaCache.java
Labels: grpc, stargate-v2

#1623 Extract new StargateBridgeClient abstraction
  bridge/src/main/java/io/stargate/bridge/service/SchemaNotificationsHandler.java
  grpc-proto/proto/schema.proto
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/StargateBridgeClientJerseyFactory.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/CreateStargateBridgeClientFilter.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResourceApi.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResourceImpl.java
  sgv2-service-common/pom.xml
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/futures/Futures.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClientFactory.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeSchema.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/InitReplayingStreamObserver.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/SingleStreamObserver.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeClientFactory.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeSchema.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/schema/SchemaCache.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/schema/SchemaCacheGrpc.java
  testing/src/main/java/io/stargate/it/bridge/SchemaNotificationsTest.java
Labels: grpc, stargate-v2

#1626 Fix #1625: comment out SGv1 REST API endpoints for SGv2
  restapi/src/main/java/io/stargate/web/impl/RestApiServer.java
Labels: REST, stargate-v2

#1627 Add configuration property for Docs API port
  restapi/src/main/java/io/stargate/web/impl/RestApiServerConfiguration.java
Labels: documents API, stargate-v2

#1630 Add schema read authorizations to the bridge
  bridge/pom.xml
  bridge/src/main/java/io/stargate/bridge/BridgeActivator.java
  bridge/src/main/java/io/stargate/bridge/impl/BridgeImpl.java
  bridge/src/main/java/io/stargate/bridge/service/AuthorizationHandler.java
  bridge/src/main/java/io/stargate/bridge/service/BridgeService.java
  bridge/src/test/java/io/stargate/bridge/service/BaseBridgeTest.java
  grpc-proto/proto/bridge.proto
  grpc-proto/proto/schema.proto
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResourceImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/SchemaReads.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/UnauthorizedKeyspaceException.java
Labels: grpc, stargate-v2

#1631 Change "stargate.grpc.*" config/system properties (and related) to "stargate.bridge.*"
  Dockerfile
  docker-compose/cassandra-3.11/docker-compose-dev-mode.yml
  docker-compose/cassandra-3.11/docker-compose.yml
  docker-compose/cassandra-4.0/docker-compose-dev-mode.yml
  docker-compose/cassandra-4.0/docker-compose.yml
  docker-compose/dse-6.8/docker-compose-dev-mode.yml
  docker-compose/dse-6.8/docker-compose.yml
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServerConfiguration.java
  sgv2-restapi/src/main/resources/config.yaml
  starctl-service-rest
  testing/src/main/java/io/stargate/it/http/ApiServiceParameters.java
  testing/src/main/java/io/stargate/it/http/BaseRestApiTest.java
Labels: stargate-v2

#1641 Extract bridge HTTP helpers to sgv2-service-common
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServerConfiguration.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2ColumnsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2UDTsResourceImpl.java
  sgv2-service-common/pom.xml
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/http/CreateStargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/http/CreateStargateBridgeClientFilter.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/http/StargateBridgeClientJerseyFactory.java
Labels: stargate-v2

#1646 First part of #1644: C*3 from 3.11.11->3.11.12
  DEV_GUIDE.md
  ci/Dockerfile
  persistence-cassandra-3.11/README.md
  persistence-cassandra-3.11/pom.xml
  persistence-cassandra-3.11/src/test/java/io/stargate/db/cassandra/impl/StargateQueryHandlerTest.java
  persistence-cassandra-3.11/src/test/java/io/stargate/db/cassandra/impl/idempotency/IdempotencyAnalyzerTest.java
  persistence-cassandra-3.11/src/test/java/org/apache/cassandra/metrics/Cassandra311MetricsRegistryTest.java
  restapi/src/test/java/io/stargate/web/docsapi/service/QueryExecutorTest.java
Labels: dependencies

#1647 Second part of #1644 fix: C*4 from 4.0.1 to 4.0.3 upgrade
  ci/Dockerfile
  cql/pom.xml
  grpc/src/main/java/io/stargate/grpc/service/MessageHandler.java
  grpc/src/test/java/io/stargate/grpc/service/PersistenceExceptionTest.java
  persistence-api/pom.xml
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/Conversion.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/PreparedWithInfo.java
  persistence-cassandra-3.11/src/main/java/io/stargate/db/cassandra/impl/StargateQueryHandler.java
  persistence-cassandra-4.0/README.md
  persistence-cassandra-4.0/pom.xml
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/Conversion.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/PreparedWithInfo.java
  persistence-cassandra-4.0/src/main/java/io/stargate/db/cassandra/impl/StargateQueryHandler.java
  persistence-dse-6.8/README.md
  testing/pom.xml
  testing/src/main/java/io/stargate/it/grpc/streaming/ExecuteBatchStreamingTest.java
Labels: dependencies

#1657 Specialize v2 QueryBuilder to generate gRPC Query
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/WhereParser.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2ColumnsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2UDTsResourceImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/CqlStrings.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/BuiltCondition.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Literal.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Marker.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/QueryBuilderImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/Term.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/ValueModifier.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/builder/QueryBuilderTest.java
  sgv2-service-common/src/test/java/io/stargate/sgv2/common/cql/builder/QueryBuilderValuesTest.java
Labels: stargate-v2

#1658 Add a test to verify keyspace creation authnz checks; clean up test a bit
  testing/src/main/java/io/stargate/it/http/RestApiTableTokenAuthTest.java
Labels: test

#1666 Add basic gRPC/authorization tests
  testing/src/main/java/io/stargate/it/grpc/GrpcAuthenticationTest.java
  testing/src/main/java/io/stargate/it/grpc/GrpcAuthorizationTest.java
  testing/src/main/java/io/stargate/it/grpc/GrpcIntegrationTest.java
Labels: test, grpc
