Repository stargate/stargate, pull requests merged in 2022-06, with the labels that each got.

#1859 closes #1724: namespace resource
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/CollectionsResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/schemas/namespaces/NamespacesResource.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/schemas/namespaces/model/dto/Datacenter.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/v2/schemas/namespaces/model/dto/NamespaceDto.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/namespaces/collections/CollectionsResourceIntegrationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/v2/schemas/namespaces/NamespacesResourceIntegrationTest.java
Labels: documents API, stargate-v2

#1877 Fix #1463 by adding keyspace filter as suggested
  restapi/src/main/java/io/stargate/web/restapi/resources/v2/schemas/IndexesResource.java
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
Labels: REST

#1878 Add test for #1817: passes for SGv1/REST, will fail against SGv2/REST
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
Labels: REST

#1880 Fix #1817 for SGv2/REST by supporting multi-dc setting for createKeyspace
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/SchemaBuilderHelper.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2KeyspacesResourceImpl.java
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
Labels: REST, stargate-v2

#1872 Initial implementation of Host-to-tenant metrics tagger
  metrics-jersey/src/main/java/io/stargate/metrics/jersey/MetricsBinder.java
  metrics-jersey/src/main/java/io/stargate/metrics/jersey/sgv2/MetricsBinderWithTenantId.java
  metrics-jersey/src/main/java/io/stargate/metrics/jersey/sgv2/TenantIdFromHostHeaderTagsProvider.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/impl/RestServiceServer.java
  testing/src/main/java/io/stargate/it/http/RestApiMetricsTest.java
Labels: REST, stargate-v2

#1874 relates to #1738: queries for the document reads adapted for V2
  sgv2-docsapi/pom.xml
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/condition/BaseCondition.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/condition/impl/BooleanCondition.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/condition/impl/ExistsCondition.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/condition/impl/GenericCondition.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/condition/impl/NumberCondition.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/condition/impl/StringCondition.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/db/AbstractSearchQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/DocumentSearchQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/DocumentTtlQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/FilterExpressionSearchQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/FilterPathSearchQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/FullSearchQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/PathSearchQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/PopulateSearchQueryBuilder.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/SubDocumentSearchQueryBuilder.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/ExpressionParserTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/condition/impl/BooleanConditionTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/condition/impl/GenericConditionTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/condition/impl/NumberConditionTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/condition/impl/StringConditionTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/DocumentTtlQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/DocumentsSearchQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/FilterExpressionSearchQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/FilterPathSearchQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/FullSearchQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/PathSearchQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/PopulateSearchQueryBuilderTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/db/impl/SubDocumentSearchQueryBuilderTest.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/cql/builder/QueryBuilderImpl.java
Labels: stargate-v2

#1871 closes #1731: query executor for the Docs API V2
  sgv2-docsapi/CONFIGURATION.md
  sgv2-docsapi/pom.xml
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/properties/document/DocumentProperties.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/properties/document/DocumentTableColumns.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/properties/document/impl/DocumentPropertiesImpl.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/properties/document/impl/DocumentTableColumnsImpl.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/exception/ErrorCode.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/config/DocumentConfig.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/common/model/RowWrapper.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/executor/DocumentProperty.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/executor/DocumentPropertyComparator.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/executor/QueryExecutor.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/executor/QueryState.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/model/RawDocument.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/model/paging/CombinedPagingState.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/model/paging/PagingStateSupplier.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/DocsApiTestSchemaProvider.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/common/properties/datastore/configuration/DefaultDataStorePropertiesConfigurationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/common/properties/document/configuration/DefaultDocumentPropertiesConfigurationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/bridge/AbstractValidatingStargateBridgeTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/bridge/ValidatingPaginator.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/bridge/ValidatingStargateBridge.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/common/model/RowWrapperTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/json/JsonConverterTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/executor/DocumentPropertyComparatorTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/executor/QueryExecutorTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/model/paging/CombinedPagingStateTest.java
Labels: stargate-v2

#1888 closes #1738: read bridge service for docs V2
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/properties/document/DocumentTableColumns.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/properties/document/impl/DocumentPropertiesImpl.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/properties/document/impl/DocumentTableColumnsImpl.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/api/common/properties/document/impl/DocumentTablePropertiesImpl.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/common/model/Paginator.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/ReadBridgeService.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/eval/RawDocumentEvalRule.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/BaseResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/CnfResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/DocumentsResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/filter/CandidatesFilter.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/filter/impl/InMemoryCandidatesFilter.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/filter/impl/PersistenceCandidatesFilter.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/AbstractFiltersResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/AllFiltersResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/AnyFiltersResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/InMemoryDocumentsResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/OrExpressionDocumentsResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/PersistenceDocumentsResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/SubDocumentsResolver.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/util/ByteBufferUtils.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/DocsApiTestSchemaProvider.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/OpenMocksTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/api/common/properties/document/configuration/DefaultDocumentPropertiesConfigurationTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/bridge/AbstractValidatingStargateBridgeTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/bridge/ValidatingStargateBridge.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/ReadBridgeServiceTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/eval/RawDocumentEvalRuleTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/model/paging/CombinedPagingStateTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/BaseResolverTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/CnfResolverTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/filter/impl/InMemoryCandidatesFilterTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/filter/impl/PersistenceCandidatesFilterTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/AllFiltersResolverTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/AnyFiltersResolverTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/InMemoryDocumentsResolverTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/OrExpressionDocumentsResolverTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/PersistenceDocumentsResolverTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/search/resolver/impl/SubDocumentsResolverTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/util/ByteBufferUtilsTest.java
Labels: stargate-v2

#1876 Add optimistic handling of schema metadata (fixes #1873)
  bridge-proto/proto/bridge.proto
  bridge-proto/proto/schema.proto
  bridge/src/main/java/io/stargate/bridge/service/BridgeService.java
  bridge/src/test/java/io/stargate/bridge/service/BaseBridgeServiceTest.java
  bridge/src/test/java/io/stargate/bridge/service/ExecuteQueryWithSchemaTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/bridge/ValidatingStargateBridge.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/ResourceBase.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/Sgv2RowsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2ColumnsResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2IndexesResourceImpl.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResourceImpl.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/DefaultStargateBridgeClient.java
  sgv2-service-common/src/main/java/io/stargate/sgv2/common/grpc/StargateBridgeClient.java
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
Labels: stargate-v2

#1898 Update `dse-core` dependency from 6.8.21 to 6.8.24
  ci/Dockerfile
  persistence-dse-6.8/README.md
  persistence-dse-6.8/pom.xml
  testing/pom.xml
Labels: dependencies

#1812 DEV_GUIDE: Add MacOS loopback address
  DEV_GUIDE.md
Labels: stargate-v2

#1909 updated Quarkus to v2.10.0.Final
  sgv2-docsapi/pom.xml
Labels: stargate-v2

#1908 closes #1887: fixed consistency for reads, added consistency checks in tests
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/ReadBridgeService.java
  sgv2-docsapi/src/main/java/io/stargate/sgv2/docsapi/service/query/executor/QueryExecutor.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/bridge/ValidatingStargateBridge.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/query/executor/QueryExecutorTest.java
  sgv2-docsapi/src/test/java/io/stargate/sgv2/docsapi/service/write/WriteBridgeServiceTest.java
Labels: stargate-v2

#1903 Reduce GraphQLJava induced log noise
  graphqlapi/pom.xml
  graphqlapi/src/main/java/io/stargate/graphql/schema/CassandraFetcherExceptionHandler.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/fetchers/deployed/QueryFetcher.java
  graphqlapi/src/main/java/io/stargate/graphql/schema/graphqlfirst/processor/CqlDirectives.java
  graphqlapi/src/test/java/io/stargate/graphql/schema/GraphQlTestBase.java
Labels: GraphQL CQL-first

#1924 Fix #1923: expose Table "default TTL" for SGv2/REST API too
  bridge/src/main/java/io/stargate/bridge/service/SchemaHandler.java
  sgv2-restapi/src/main/java/io/stargate/sgv2/restsvc/resources/schemas/Sgv2TablesResourceImpl.java
  testing/src/main/java/io/stargate/it/http/RestApiv2SchemaTest.java
Labels: REST, stargate-v2

#1926 Upgrade C*3 (3.11.13) and C*4 (4.0.4) dependencies
  DEV_GUIDE.md
  ci/Dockerfile
  persistence-cassandra-3.11/README.md
  persistence-cassandra-3.11/pom.xml
  persistence-cassandra-3.11/src/test/java/org/apache/cassandra/metrics/Cassandra311MetricsRegistryTest.java
  persistence-cassandra-4.0/README.md
  persistence-cassandra-4.0/pom.xml
  testing/pom.xml
Labels: dependencies
